body{
    background-color: #F0FFFF;
    line-height: 1,5;
    color: black;
    font-size: 18px;
    margin: 0;
}

h1{
    color:  white;
    font-family: "Courier Prime", monospace;
    text-align: center;
    font-size: 80px;
}

h2{
    color: #2F4F4F;
    font-family: "Courier Prime", monospace;
    font-size: 30px;
    margin-bottom: 0;

}

h3{
    color:#2F4F4F;
    font-family: "Courier Prime", monospace;
    background-color: #F0FFFF;
    
}

header{
    color: white;
    background-color: #2F4F4F;
    padding: 5px;
}

footer{
    background-color: #2F4F4F;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.foto{
    width: 300px;
    border: #2F4F4F solid 2px;
    border-radius: 70px 70px 70px 70px;
    overflow: auto;
    float: left; 
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-top: 0;
}

a{
    color: black;
    text-decoration: none;
}

.paticka{
    background-color: #2F4F4F;
    padding: 20px 0;
}

.kontakt{
    text-align: left;
    color:black;
    padding: 0;
    line-height: 2;
    margin: 80px;
}
   
.prace{
    padding-top: 150px;
    margin-left: 50px;
}

.vzdelani{
    padding-top: 10px;
    margin-left: 50px;
}

.jazyky,
.dovednosti{
    padding-top: 10px;
    margin-left: 50px;
}

.dovednosti{
    margin-bottom: 50px;
}




