body{
    background-color: white;
    line-height: 1,5;
    color: black;
}

h1{
    color: white;
    font-family: "Courier Prime", monospace;
    text-align: center;
    font-size: 80px;
}

h2{
    color: #2F4F4F;
    font-family: "Courier Prime", monospace;
    font-size: 30px;
}

h3{
    color:white;
    font-family: "Courier Prime", monospace;
    background-color: #2F4F4F;
}

header{
    color: white;
    background-color: #2F4F4F;
}

footer{
    background-color: #2F4F4F;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.foto{
    width: 250px;
    border: #2F4F4F solid 2px;
    border-radius: 70px 70px 70px 70px;
    margin-bottom: 100px;
}

.kontakt{
    line-height: 2;
    background-color: white;
}

a{
    color: black;
}
    








